body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
}

#quote-box {
  width: 100%;
  max-width: 600px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  text-align: center;
}

#text {
  font-size: 1.5em;
  margin: 0;
  padding: 0;
}

#author {
  font-size: 1.2em;
  color: #555;
  margin: 10px 0;
}

button,
a {
  margin: 10px;
  padding: 10px 20px;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

button {
  background-color: #007bff;
  color: #fff;
}

a {
  background-color: #1da1f2 !important;
  color: #fff;
  text-decoration: none;
}

a:hover,
button:hover {
  opacity: 0.8;
}